.Login {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
}

.Login__form {
  padding: 40px 20px;
  background-color: white;
  border-radius: 3.2px;
  box-shadow: 1px 1px 20px #00000063;
}

.Login__form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 15px;
}

.Login__form-group:not(:last-child) {
  margin-bottom: 8px;
}

.Login__form-group > input {
  font-size: 20px;
  padding: 5px 10px;
  font-family: "Open Sans";
  border: 1px solid black;
  border-radius: 3.2px;
}

.Login__form-group > label {
  text-align: left;
  margin-bottom: 8px;
  font-family: "Open Sans";
}

.Login__form-button {
  padding: 5px 20px;
  font-size: 18px;
  font-family: "Open Sans";
  margin-top: 10px;
  border-radius: 3.2px;
  background-color: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
}
