.Home__pdf_wrapper {
  width: 800px;
  margin: auto;
  display: grid;
  grid-gap: 44px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10vh;
}

.Home__pdf_wrapper > a > div {
  border: 1px solid #d4d4d4;
  text-align: center
}
