.Layout-Form {
  display: flex;
}

.Layout-Form-Aside {
  width: 300px;
}

.Layout-Form-Aside > ul {
  width: 200px;
  border-right: 2px solid #d4d4d4;
  height: 100%;
  padding: 0;
  margin: 0;
}

.Layout-Form-Aside > ul > li {
  padding: 12px;
}

.Layout-Section {
  flex: 1;
}

.Layout-Section > div > div > h2 {
  margin-top: 0;
}
