.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black
}

.Header > div:not(:last-child) {
}

.Header__notification {
    border: none;
    background: none
}

.Header__user-info {
}

.Header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__user-name {
}